*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    /* width: 100%; */
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background : linear-gradient(to right bottom, royalblue , blue);
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
}
#container{
    background-color: palevioletred;
    background: linear-gradient(pink ,  palevioletred);
    height: 20%;
    width: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    padding: 20px;
}
.btn{
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 15px;
    font-size: large;
}